.section-item-movie-component {
    padding: 35px 0px;
}
.movie-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 15px;
}

/* .title-list {
    color: #ffffff;
    letter-spacing: .3px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: capitalize;
} */